img {
    max-width: 100%;
    height: auto;
}
a:link, a:visited {
    color: #6d6d6d;
    text-decoration: none;
}

a:hover, a:active {
    color: #6d6d6d;
    text-decoration: underline;
}
header section,
footer section,
.manpage {
    font-size: 14px;
    font-family: "Courier New", monospace;
    margin-left: 0%;
    max-width: 40em;
}
main,
nav section,
.name-section {
    max-width: 60em;
    font-size: 14px;
    font-family: "Courier New", monospace;
    margin-left: 5%;
    margin-right: auto;
    padding: 0 0.5em;
}
h1, h2, h3, h4 {
    display: inline;
    font-weight: bold;
    font-size: inherit;
    margin: 0;
    padding: 0;
    font-family: inherit;
}
pre {
    margin: 0;
    font-size: 10px;
    line-height: 1.4;
}
code {
    font-family: monospace;
}